/* About Hero */
.about_area{
    background-image:  url(../../images/about/about_bg.jpg);
    background-position: 50% 44px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.about_area h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
}