.navbar-brand img{
    width: 45px;
    /* height: 31px; */
}
.navbar-nav li a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #222222!important;
}
.navbar-collapse form button{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #222222!important;
}